$active_primary: #a179db;
$primary: #712ebc;
$secondary: #55c7d7;
$active_secondary: #00c5e3;

$header_color: #f0ecf2;

@import "Todos";
@import "TopBar";
@import "PerformanceOverview";

.App-bottom-bar {
  background-color: #282c34;
  color: white;
  display: flow-root;
  position: absolute;
  padding: 20px;
  left: 0;
  right: 0;
}

body {
  background: #F5F5F5;
}

.Show-cell {
  padding: 5px;
}

.app-container {
  min-height: 100vh;
  padding-right: 1em;
  padding-left: 1em;
  margin-top: 10vh;
}

.App-content {
  padding-top: 2em !important;
  font-family: 'Barlow', sans-serif;
  padding-bottom: 2em !important;
}

.Card {
  border: 1px solid rgba(34, 36, 38, .1);
  border-radius: 3px;
  background: white;

}

.Card-header {
  padding: 10px;
  border-bottom: 1px solid rgba(34, 36, 38, .1);
  font-size: 24px;
  background: $header_color;
}

.Card-content {
  padding: 10px;
  height: 100%;
  width: 100%;
}

.Card-footer {
  padding: 10px;
  border-top: 1px solid rgba(34, 36, 38, .1);
  font-size: 12px;
  color: darkgray;
}

.Card-chart {
  height: 200px;
}

.wide-accordion {
  width: 100% !important;
}

.grade-mean-good {
  background: green;
}

.grade-mean-bad {
  background: red;
}

.grade-mean-middle {
  background: #fbbd08;
}

.grade-mean-bad, .grade-mean-good, .grade-mean-middle {
  color: white;
  position: absolute;
  right: 15px;
  top: 15px;
  padding: 7px;
  border-top-right-radius: 2px;
}

.Card-footer-button-right {
  background: lightgray;
  color: white;
  position: relative;
  padding: 10px;
  left: 10px;
  float: right;
  bottom: 10px;
  border-bottom-right-radius: 2px;
}

.side-nav {
  position: fixed;
 /* top: 55%;
  -webkit-transform: translateY(-55%);
  -ms-transform: translateY(-55%);
  transform: translateY(-55%);*/
  left: 0;
}

.mobile-container {
  padding-bottom: 60px !important;
}

.side-nav-container {
  text-align: center !important;
  margin-top: 10vh;
  padding-top: 3em !important;
  padding-right: 0 !important;
}

.right-aligned {
  position: absolute;
  right: 25px;
  top: 25px;
}


.hidden {
  height: 0;
  visibility: collapse;
  padding: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.ui.icon.menu .item {
  height: 10em !important;
}

.ui.labeled.icon.menu .item>.icon:not(.dropdown) {
  height: 3em !important;

}

.ui.vertical.menu .item>i.icon {
  width: 3em !important;
}

.ui.vertical.menu {
  width: 12.5%!important;
}

.active_item{
  background: $active_primary;
  border-radius: 1.5em;
}

.inactive_item{
  border-radius: 1.5em;
  border: #282c34 2px solid;
}

.top-bar{
  position: fixed !important;
  top: -15px;
  z-index: 2;
}